<style>
    #error{
        margin-top: 10%;
    }
    h3{
        border-bottom: solid black 2px;
    }
</style>
{% load static %}
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
<body>
<section>
    <div class="main-wrapper">
        <div class="row justify-content-center" id="error">
            <div class="col-md-6">
                <div class="card card-body ">
                  <h3 class="text-dark text-capitalize ">message Error</h3></br><br>
                   <h2 class="text-center text-danger font-weight-bold">PATIENT NOT FOUND  <i class="fa fa-exclamation-triangle fa-2x"></i></h2>

                     <br>
                    <a href="{% url 'home' %}" class="btn btn-grey pull-right">close</a>

                </div>
            </div>
      </div>
    </div>
</section>
</body>